.back-img{
    background-image: url('../../pictures/home_picture.png');
    background-size: cover;
    background-position: center;
    height:1000px;
    width:100%;
}
.button{
    border:none;
    background-color:#C27483;
    padding-bottom: 9px;
    padding-top:9px;
    width:120px;
    color:#FDFDFD;
    font-size: 10px;
}
.button:hover{
    color:blue;
}
.title{
    font-size:70px;
}
.subtitle{
    font-size: 15px;
}
.texts{
    padding-top:280px;
    text-align: center;
    padding-bottom: 90px;
    justify-content: center;
    
}
@media (max-width:1500px){
    .back-img{
        height:900px;
    }
    .text{
        padding-top: 150px;
        font-size: 20px;
        padding-top: 140px;
    }
}
@media (max-width:768px){
    .back-img{
        height:600px;
    }
    .texts{
        font-size:10px;
        padding-top:160px;
       
    }
    .title{
        font-size: 44px;
    } 
    .subtitle{
        font-size: 12px;
    }
    .button{
        width:80px;
        padding-top:10px;
        padding-bottom: 10px;
    }
}

@media (width<481px){
    .back-img{
        height:460px;
    }
    .texts{
        padding-top: 125px;
        padding-bottom: 24px;
    }
    .title{
        font-size: 30px;
    }
    .subtitle{
        font-size: 10px;
    }
    .button{
        width:70px;
        font-size: 9px;
        padding-top:8px;
        padding-bottom: 8px;
    }
}
