.grid-container{
    max-width: 100%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(224px,1fr));
}
.content{
    justify-items: center;   
}
.menu-pictures{
    width:100%;
    height:290px;
    border-radius: 4px;
    object-fit:cover;
   
}
.menu-desc{
    background-color: #FDFDFD;
}
.menu-image{
    display:flex;
}
.menu-cont{
    background-color:#EDCECB;
    box-sizing: border-box; 
    padding-left:40px;
    padding-right:40px;
}
.image-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    max-width:1100px;
    margin: 0 auto;
    padding-left:20px;
    padding-right: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: start;
}
.menu-text{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #EAE9E4;
    border-left:2px solid #EAE9E4;
    flex:1;
}
.text-section{
    background-color: #EAE9E4;
}
.text-grid{
    max-width: 1100px;
    display:grid;
    margin:0 auto;
    grid-template-columns:repeat(3,1fr); 
    padding-left:40px;
    padding-right:40px;
    box-sizing: border-box;
    gap:20px;
    justify-content: center;
}
.buttons{
    width:130px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #EDCECB;
    border:none;
    color:black;
    text-align: center;
    justify-content: space-between;

}
.buttons:hover{
    background-color: #972D4C;
    color:#FDFDFD;
   
}
@media (max-width:768px){
    .image-grid,.text-grid{
        grid-template-columns: repeat(1,1fr);
        max-width:1100px;

    }
    .menu-cont{
        padding-left: 20px;
        padding-right:20px;
    }
    .text-grid{
        padding-left: 20px;
        padding-right:20px;
    }
}
