nav{
    top:0;
    height:30px;
    max-width:100%;
}

.content{
display:flex;
flex-direction: row;
text-align:center;
justify-content: space-between;
background-color:#EDCECB;
padding-left: 60px;
padding-right:60px;
}
.nav-butt{
    background-color: #FDFDFD;
    border:none;
    font-weight: bold;
    width:200px;
    height:25px;
    padding-left:40px;
}

.nav-butt:hover{
  color:blue;
}
.links{
 display:flex;
 gap:24px;
 cursor:pointer;
}
.link{
    color:rgb(20,20,20);
    text-decoration: none;
    cursor: pointer;
}
.link:hover{
    color:blue;
}